.bulb-controls {
  flex-direction: column;
  align-items: start;
  margin-top: 6rem;
}

.bulb__remove,
.bulb__light-off,
.bulb__light-change,
.bulb__light-broken {
  border: 0;
  background: transparent;

  svg {
    color: grey;
    font-size: 2rem;
  }
}
