.bulb {
  flex-direction: column;
  align-items: start;

  div {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 4rem 1rem;
    transition: box-shadow 0.5s ease;
  }
}

.bulb__remove {
  border: 0;
  background: transparent;

  svg {
    color: grey;
    font-size: 2rem;
  }
}
