@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");

:root {
  box-sizing: border-box;
  font-size: 10px;

  /* variable declarations */
  --color-white: hsl(0, 0%, 100%);
  --color-dark-blue: hsl(237, 42%, 10%);
  --color-medium-gray: hsla(47, 4%, 57%, 0.8);
  --color-medium-blue: hsl(237, 79%, 67%);
  --color-gold: hsla(48, 79%, 67%, 0.582);
  --font-family-roboto: "Roboto", sans-serif;
  --gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-dark-blue);
  font-family: var(--font-family-roboto);
  color: var(--color-white);
  font-size: 1.8rem;
}

.container {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
}

/* UTILITY CLASSES */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.center {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
